<div class='cat-cat'>

<div class='colon cat-cat'>
<h1 class="cat">Разделы</h1>	
  {{categories-only-cat categories=categories}}
</div>

<div class='colon cat-post'>

{{mount-widget widget="right-bar-user-info"  args=(hash listLoading=loading)}}

<div class='colon post'>
  {{link-top topics=topics}}
</div>
</div>
</div>
