<div class='cat-cat'>
  
<div class='cat-zag'><h1 class='t1'>{{i18n 'categories.category'}}</h1></div>

<div class='colon cat-cat'>
  {{categories-only-cat categories=categories}}
</div>

<div class='colon post'>
  {{latest-topic-list-cat topics=topics}}
</div>
  
</div>
