<div class='cat-cat'>

<div class="groups-d ogr"><b>Разделы</b> - это основная структура сайта Toxu. Не все разделы видны, есть скрытые и приватные. 
Есть те, которые относятся к группам, на такие разделы надо подписываться. Есть подразделы. Вы можете подписываться, 
читать или скрывать их.</div>

<div class='colon cat-cat'>
  {{categories-only-cat categories=categories}}
</div>

<div class='colon post'>
  {{latest-topic-list-cat topics=topics}}
</div>
  
</div>
