<div class='cat-cat'>

<div class='colon cat-cat'>
<h1 class="cat">Разделы</h1>	
  {{categories-only-cat categories=categories}}
</div>

<div class='colon cat-post'>
<div class='colon post'>
	<div class="topic-list blog-ava">
	{{mount-widget widget="link-top"  args=(hash listLoading=loading)}}
	</div>
	
	{{latest-topic-list-cat topics=topics}}
</div>
</div>
</div>
