<h1 class="cat">Разделы</h1>
<div class='cat-cat'>

<div class='colon cat-cat'>
  {{categories-only-cat categories=categories}}
</div>

<div class='colon post'>
  {{latest-topic-list-cat topics=topics}}
</div>
  
</div>
