<label>Дополнение:</label>
  
<div class="d-editor-textarea-wrapper-info">
    {{conditional-loading-spinner condition=loading}}
    {{textarea tabindex=tabindex value=category.custom_fields.categorization class="d-editor-input" placeholder=placeholderTranslated}}
</div> 

---ссылки--- 

<div class="d-editor-textarea-wrapper-info">
    {{textarea tabindex=tabindex value=category.custom_fields.categorqa class="d-editor-input" placeholder=placeholderTranslated}}
    
    {{popup-input-tip validation=validation}}
</div>
<br><br>  
